*, *:before, *:after { @include box-sizing(border-box); }

.flex {
  display: flex;
  display: -webkit-flex;
  @include justify-content(flex-start);
  @include flex-wrap(wrap);
  padding: $pad 0 $pad $pad;
  @include flex-direction(row);

  & > [class*="col-"] {
    @include flex-order(12);
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto);
    padding-right: $pad;
  }

  &.no-pad {
    padding: 0;
    & > [class*='col-'] {
      padding-right: 0;
    }
  }

  .flex {
    display: inline-flex;
    display: -webkit-inline-flex;
  }

  &.wrap { @include flex-wrap(wrap); }
  &.wrap-reverse { @include flex-wrap(wrap-reverse); }
  &.no-wrap { @include flex-wrap(nowrap); }

  &.reverse { @include flex-direction(row-reverse); }

  &.stack {
    @include flex-direction(column);
    &.reverse {
      @include flex-direction(column-reverse);
    }
  }

  &.justify-center { @include justify-content(center); }
  &.justify-start { @include justify-content(flex-start); }
  &.justify-end { @include justify-content(flex-end); }
  &.justify-space-around { @include justify-content(space-around); }
  &.justify-space-between { @include justify-content(space-between); }

  &.align-baseline { align-items: baseline; }
  &.align-center { align-items: center; }
  &.align-start { align-items: flex-start; }
  &.align-end { align-items: flex-end; }
  &.align-stretch { align-items: stretch; }

  .align-baseline { align-content: baseline; }
  .align-center { align-content: center; }
  .align-start { align-content: flex-start; }
  .align-end { align-content: flex-end; }
  .align-stretch { align-content: stretch; }

  .col-1 { @include flex-basis(8.33%); }
  .col-2 { @include flex-basis(16.66%); }
  .col-3 { @include flex-basis(25%); }
  .col-4 { @include flex-basis(33.33%); }
  .col-5 { @include flex-basis(41.66%); }
  .col-6 { @include flex-basis(50%); }
  .col-7 { @include flex-basis(58.33%); }
  .col-8 { @include flex-basis(66.66%); }
  .col-9 { @include flex-basis(75%); }
  .col-10 { @include flex-basis(83.33%); }
  .col-11 { @include flex-basis(91.66%); }
  .col-12 { @include flex-basis(100%); }

  .offset-1 { margin-left: 8.33%; }
  .offset-2 { margin-left: 16.66%; }
  .offset-3 { margin-left: 25%; }
  .offset-4 { margin-left: 33.33%; }
  .offset-5 { margin-left: 41.66%; }
  .offset-6 { margin-left: 50%; }
  .offset-7 { margin-left: 58.33%; }
  .offset-8 { margin-left: 66.66%; }
  .offset-9 { margin-left: 75%; }
  .offset-10 { margin-left: 83.33%; }
  .offset-11 { margin-left: 91.66%; }
  .offset-12 { margin-left: 91.66%; }

  .offset-1-right { margin-right: 8.33%; }
  .offset-2-right { margin-right: 16.66%; }
  .offset-3-right { margin-right: 25%; }
  .offset-4-right { margin-right: 33.33%; }
  .offset-5-right { margin-right: 41.66%; }
  .offset-6-right { margin-right: 50%; }
  .offset-7-right { margin-right: 58.33%; }
  .offset-8-right { margin-right: 66.66%; }
  .offset-9-right { margin-right: 75%; }
  .offset-10-right { margin-right: 83.33%; }
  .offset-11-right { margin-right: 91.66%; }
  .offset-12-right { margin-right: 91.66%; }

  .order-1 { @include flex-order(1); }
  .order-2 { @include flex-order(2); }
  .order-3 { @include flex-order(3); }
  .order-4 { @include flex-order(4); }
  .order-5 { @include flex-order(5); }
  .order-6 { @include flex-order(6); }
  .order-7 { @include flex-order(7); }
  .order-8 { @include flex-order(8); }
  .order-9 { @include flex-order(9); }
  .order-10 { @include flex-order(10); }
  .order-11 { @include flex-order(11); }
  .order-12 { @include flex-order(12); }

  .grow-1 { @include flex-grow(1); }
  .grow-2 { @include flex-grow(2); }
  .grow-3 { @include flex-grow(3); }
  .grow-4 { @include flex-grow(4); }
  .grow-5 { @include flex-grow(5); }
  .grow-6 { @include flex-grow(6); }
  .grow-7 { @include flex-grow(7); }
  .grow-8 { @include flex-grow(8); }
  .grow-9 { @include flex-grow(9); }
  .grow-10 { @include flex-grow(10); }
  .grow-11 { @include flex-grow(11); }
  .grow-12 { @include flex-grow(12); }

  .shrink-1 { @include flex-shrink(1); }
  .shrink-2 { @include flex-shrink(2); }
  .shrink-3 { @include flex-shrink(3); }
  .shrink-4 { @include flex-shrink(4); }
  .shrink-5 { @include flex-shrink(5); }
  .shrink-6 { @include flex-shrink(6); }
  .shrink-7 { @include flex-shrink(7); }
  .shrink-8 { @include flex-shrink(8); }
  .shrink-9 { @include flex-shrink(9); }
  .shrink-10 { @include flex-shrink(10); }
  .shrink-11 { @include flex-shrink(11); }
  .shrink-12 { @include flex-shrink(12); }

  .align-auto { align-self: auto; }
  .align-baseline { align-self: baseline; }
  .align-center { align-self: center; }
  .align-start { align-self: flex-start; }
  .align-end { align-self: flex-end; }
  .align-stretch { align-self: stretch; }

  .justify-space-around { justify-content: space-around; }
  .justify-space-between { justify-content: space-between; }
  .justify-center { justify-content: center; }
  .justify-start { justify-content: flex-start; }
  .justify-end { justify-content: flex-end; }
}

@media all and (max-width: $break-xl) {
  .flex {
    &.row-xl {
      @include flex-direction(row);
      &.reverse-xl {
        @include flex-direction(row-reverse);
      }
    }

    &.stack-xl {
      @include flex-direction(column);
      &.reverse-xl {
        @include flex-direction(column-reverse);
      }
    }

    &.wrap-xl { @include flex-wrap(wrap); }
    &.wrap-reverse-xl { @include flex-wrap(wrap-reverse); }
    &.no-wrap-xl { @include flex-wrap(nowrap); }

    &.justify-center-xl { @include justify-content(center); }
    &.justify-start-xl { @include justify-content(flex-start); }
    &.justify-end-xl { @include justify-content(flex-end); }
    &.justify-space-around-xl { @include justify-content(space-around); }
    &.justify-space-between-xl { @include justify-content(space-between); }

    &.align-baseline-xl { align-items: baseline; }
    &.align-center-xl { align-items: center; }
    &.align-start-xl { align-items: flex-start; }
    &.align-end-xl { align-items: flex-end; }
    &.align-stretch-xl { align-items: stretch; }

    .align-baseline-xl { align-content: baseline; }
    .align-center-xl { align-content: center; }
    .align-start-xl { align-content: flex-start; }
    .align-end-xl { align-content: flex-end; }
    .align-stretch-xl { align-content: stretch; }

    .col-1-xl { @include flex-basis(8.33%); }
    .col-2-xl { @include flex-basis(16.66%); }
    .col-3-xl { @include flex-basis(25%); }
    .col-4-xl { @include flex-basis(33.33%); }
    .col-5-xl { @include flex-basis(41.66%); }
    .col-6-xl { @include flex-basis(50%); }
    .col-7-xl { @include flex-basis(58.33%); }
    .col-8-xl { @include flex-basis(66.66%); }
    .col-9-xl { @include flex-basis(75%); }
    .col-10-xl { @include flex-basis(83.33%); }
    .col-11-xl { @include flex-basis(91.66%); }
    .col-12-xl { @include flex-basis(100%); }

    .offset-1-xl { margin-left: 8.33%; }
    .offset-2-xl { margin-left: 16.66%; }
    .offset-3-xl { margin-left: 25%; }
    .offset-4-xl { margin-left: 33.33%; }
    .offset-5-xl { margin-left: 41.66%; }
    .offset-6-xl { margin-left: 50%; }
    .offset-7-xl { margin-left: 58.33%; }
    .offset-8-xl { margin-left: 66.66%; }
    .offset-9-xl { margin-left: 75%; }
    .offset-10-xl { margin-left: 83.33%; }
    .offset-11-xl { margin-left: 91.66%; }
    .offset-12-xl { margin-left: 91.66%; }

    .offset-1-right-xl { margin-right: 8.33%; }
    .offset-2-right-xl { margin-right: 16.66%; }
    .offset-3-right-xl { margin-right: 25%; }
    .offset-4-right-xl { margin-right: 33.33%; }
    .offset-5-right-xl { margin-right: 41.66%; }
    .offset-6-right-xl { margin-right: 50%; }
    .offset-7-right-xl { margin-right: 58.33%; }
    .offset-8-right-xl { margin-right: 66.66%; }
    .offset-9-right-xl { margin-right: 75%; }
    .offset-10-right-xl { margin-right: 83.33%; }
    .offset-11-right-xl { margin-right: 91.66%; }
    .offset-12-right-xl { margin-right: 91.66%; }

    .order-1-xl { @include flex-order(1); }
    .order-2-xl { @include flex-order(2); }
    .order-3-xl { @include flex-order(3); }
    .order-4-xl { @include flex-order(4); }
    .order-5-xl { @include flex-order(5); }
    .order-6-xl { @include flex-order(6); }
    .order-7-xl { @include flex-order(7); }
    .order-8-xl { @include flex-order(8); }
    .order-9-xl { @include flex-order(9); }
    .order-10-xl { @include flex-order(10); }
    .order-11-xl { @include flex-order(11); }
    .order-12-xl { @include flex-order(12); }

    .grow-1-xl { @include flex-grow(1); }
    .grow-2-xl { @include flex-grow(2); }
    .grow-3-xl { @include flex-grow(3); }
    .grow-4-xl { @include flex-grow(4); }
    .grow-5-xl { @include flex-grow(5); }
    .grow-6-xl { @include flex-grow(6); }
    .grow-7-xl { @include flex-grow(7); }
    .grow-8-xl { @include flex-grow(8); }
    .grow-9-xl { @include flex-grow(9); }
    .grow-10-xl { @include flex-grow(10); }
    .grow-11-xl { @include flex-grow(11); }
    .grow-12-xl { @include flex-grow(12); }

    .shrink-1-xl { @include flex-shrink(1); }
    .shrink-2-xl { @include flex-shrink(2); }
    .shrink-3-xl { @include flex-shrink(3); }
    .shrink-4-xl { @include flex-shrink(4); }
    .shrink-5-xl { @include flex-shrink(5); }
    .shrink-6-xl { @include flex-shrink(6); }
    .shrink-7-xl { @include flex-shrink(7); }
    .shrink-8-xl { @include flex-shrink(8); }
    .shrink-9-xl { @include flex-shrink(9); }
    .shrink-10-xl { @include flex-shrink(10); }
    .shrink-11-xl { @include flex-shrink(11); }
    .shrink-12-xl { @include flex-shrink(12); }

    .align-auto-xl { align-self: auto; }
    .align-baseline-xl { align-self: baseline; }
    .align-center-xl { align-self: center; }
    .align-start-xl { align-self: flex-start; }
    .align-end-xl { align-self: flex-end; }
    .align-stretch-xl { align-self: stretch; }

    .justify-space-around-xl { justify-content: space-around; }
    .justify-space-between-xl { justify-content: space-between; }
    .justify-center-xl { justify-content: center; }
    .justify-start-xl { justify-content: flex-start; }
    .justify-end-xl { justify-content: flex-end; }
  }
}

@media all and (max-width: $break-lg) {
  .flex {
    &.row-lg {
      @include flex-direction(row);
      &.reverse-lg {
        @include flex-direction(row-reverse);
      }
    }

    &.stack-lg {
      @include flex-direction(column);
      &.reverse-lg {
        @include flex-direction(column-reverse);
      }
    }

    &.wrap-lg { @include flex-wrap(wrap); }
    &.wrap-reverse-lg { @include flex-wrap(wrap-reverse); }
    &.no-wrap-lg { @include flex-wrap(nowrap); }

    &.justify-center-lg { @include justify-content(center); }
    &.justify-start-lg { @include justify-content(flex-start); }
    &.justify-end-lg { @include justify-content(flex-end); }
    &.justify-space-around-lg { @include justify-content(space-around); }
    &.justify-space-between-lg { @include justify-content(space-between); }

    &.align-baseline-lg { align-items: baseline; }
    &.align-center-lg { align-items: center; }
    &.align-start-lg { align-items: flex-start; }
    &.align-end-lg { align-items: flex-end; }
    &.align-stretch-lg { align-items: stretch; }

    .align-baseline-lg { align-content: baseline; }
    .align-center-lg { align-content: center; }
    .align-start-lg { align-content: flex-start; }
    .align-end-lg { align-content: flex-end; }
    .align-stretch-lg { align-content: stretch; }

    .col-1-lg { @include flex-basis(8.33%); }
    .col-2-lg { @include flex-basis(16.66%); }
    .col-3-lg { @include flex-basis(25%); }
    .col-4-lg { @include flex-basis(33.33%); }
    .col-5-lg { @include flex-basis(41.66%); }
    .col-6-lg { @include flex-basis(50%); }
    .col-7-lg { @include flex-basis(58.33%); }
    .col-8-lg { @include flex-basis(66.66%); }
    .col-9-lg { @include flex-basis(75%); }
    .col-10-lg { @include flex-basis(83.33%); }
    .col-11-lg { @include flex-basis(91.66%); }
    .col-12-lg { @include flex-basis(100%); }

    .offset-1-lg { margin-left: 8.33%; }
    .offset-2-lg { margin-left: 16.66%; }
    .offset-3-lg { margin-left: 25%; }
    .offset-4-lg { margin-left: 33.33%; }
    .offset-5-lg { margin-left: 41.66%; }
    .offset-6-lg { margin-left: 50%; }
    .offset-7-lg { margin-left: 58.33%; }
    .offset-8-lg { margin-left: 66.66%; }
    .offset-9-lg { margin-left: 75%; }
    .offset-10-lg { margin-left: 83.33%; }
    .offset-11-lg { margin-left: 91.66%; }
    .offset-12-lg { margin-left: 91.66%; }

    .offset-1-right-lg { margin-right: 8.33%; }
    .offset-2-right-lg { margin-right: 16.66%; }
    .offset-3-right-lg { margin-right: 25%; }
    .offset-4-right-lg { margin-right: 33.33%; }
    .offset-5-right-lg { margin-right: 41.66%; }
    .offset-6-right-lg { margin-right: 50%; }
    .offset-7-right-lg { margin-right: 58.33%; }
    .offset-8-right-lg { margin-right: 66.66%; }
    .offset-9-right-lg { margin-right: 75%; }
    .offset-10-right-lg { margin-right: 83.33%; }
    .offset-11-right-lg { margin-right: 91.66%; }
    .offset-12-right-lg { margin-right: 91.66%; }

    .order-1-lg { @include flex-order(1); }
    .order-2-lg { @include flex-order(2); }
    .order-3-lg { @include flex-order(3); }
    .order-4-lg { @include flex-order(4); }
    .order-5-lg { @include flex-order(5); }
    .order-6-lg { @include flex-order(6); }
    .order-7-lg { @include flex-order(7); }
    .order-8-lg { @include flex-order(8); }
    .order-9-lg { @include flex-order(9); }
    .order-10-lg { @include flex-order(10); }
    .order-11-lg { @include flex-order(11); }
    .order-12-lg { @include flex-order(12); }

    .grow-1-lg { @include flex-grow(1); }
    .grow-2-lg { @include flex-grow(2); }
    .grow-3-lg { @include flex-grow(3); }
    .grow-4-lg { @include flex-grow(4); }
    .grow-5-lg { @include flex-grow(5); }
    .grow-6-lg { @include flex-grow(6); }
    .grow-7-lg { @include flex-grow(7); }
    .grow-8-lg { @include flex-grow(8); }
    .grow-9-lg { @include flex-grow(9); }
    .grow-10-lg { @include flex-grow(10); }
    .grow-11-lg { @include flex-grow(11); }
    .grow-12-lg { @include flex-grow(12); }

    .shrink-1-lg { @include flex-shrink(1); }
    .shrink-2-lg { @include flex-shrink(2); }
    .shrink-3-lg { @include flex-shrink(3); }
    .shrink-4-lg { @include flex-shrink(4); }
    .shrink-5-lg { @include flex-shrink(5); }
    .shrink-6-lg { @include flex-shrink(6); }
    .shrink-7-lg { @include flex-shrink(7); }
    .shrink-8-lg { @include flex-shrink(8); }
    .shrink-9-lg { @include flex-shrink(9); }
    .shrink-10-lg { @include flex-shrink(10); }
    .shrink-11-lg { @include flex-shrink(11); }
    .shrink-12-lg { @include flex-shrink(12); }

    .align-auto-lg { align-self: auto; }
    .align-baseline-lg { align-self: baseline; }
    .align-center-lg { align-self: center; }
    .align-start-lg { align-self: flex-start; }
    .align-end-lg { align-self: flex-end; }
    .align-stretch-lg { align-self: stretch; }

    .justify-space-around-lg { justify-content: space-around; }
    .justify-space-between-lg { justify-content: space-between; }
    .justify-center-lg { justify-content: center; }
    .justify-start-lg { justify-content: flex-start; }
    .justify-end-lg { justify-content: flex-end; }
  }
}

@media all and (max-width: $break-md) {
  .flex {
    &.row-md {
      @include flex-direction(row);
      &.reverse-md {
        @include flex-direction(row-reverse);
      }
    }

    &.stack-md {
      @include flex-direction(column);
      &.reverse-md {
        @include flex-direction(row-reverse);
      }
    }

    &.wrap-md { @include flex-wrap(wrap); }
    &.wrap-reverse-md { @include flex-wrap(wrap-reverse); }
    &.no-wrap-md { @include flex-wrap(nowrap); }

    &.justify-center-md { @include justify-content(center); }
    &.justify-start-md { @include justify-content(flex-start); }
    &.justify-end-md { @include justify-content(flex-end); }
    &.justify-space-around-md { @include justify-content(space-around); }
    &.justify-space-between-md { @include justify-content(space-between); }

    &.align-baseline-md { align-items: baseline; }
    &.align-center-md { align-items: center; }
    &.align-start-md { align-items: flex-start; }
    &.align-end-md { align-items: flex-end; }
    &.align-stretch-md { align-items: stretch; }

    .align-baseline-md { align-content: baseline; }
    .align-center-md { align-content: center; }
    .align-start-md { align-content: flex-start; }
    .align-end-md { align-content: flex-end; }
    .align-stretch-md { align-content: stretch; }

    .col-1-md { @include flex-basis(8.33%); }
    .col-2-md { @include flex-basis(16.66%); }
    .col-3-md { @include flex-basis(25%); }
    .col-4-md { @include flex-basis(33.33%); }
    .col-5-md { @include flex-basis(41.66%); }
    .col-6-md { @include flex-basis(50%); }
    .col-7-md { @include flex-basis(58.33%); }
    .col-8-md { @include flex-basis(66.66%); }
    .col-9-md { @include flex-basis(75%); }
    .col-10-md { @include flex-basis(83.33%); }
    .col-11-md { @include flex-basis(91.66%); }
    .col-12-md { @include flex-basis(100%); }

    .offset-1-md { margin-left: 8.33%; }
    .offset-2-md { margin-left: 16.66%; }
    .offset-3-md { margin-left: 25%; }
    .offset-4-md { margin-left: 33.33%; }
    .offset-5-md { margin-left: 41.66%; }
    .offset-6-md { margin-left: 50%; }
    .offset-7-md { margin-left: 58.33%; }
    .offset-8-md { margin-left: 66.66%; }
    .offset-9-md { margin-left: 75%; }
    .offset-10-md { margin-left: 83.33%; }
    .offset-11-md { margin-left: 91.66%; }
    .offset-12-md { margin-left: 91.66%; }

    .offset-1-right-md { margin-right: 8.33%; }
    .offset-2-right-md { margin-right: 16.66%; }
    .offset-3-right-md { margin-right: 25%; }
    .offset-4-right-md { margin-right: 33.33%; }
    .offset-5-right-md { margin-right: 41.66%; }
    .offset-6-right-md { margin-right: 50%; }
    .offset-7-right-md { margin-right: 58.33%; }
    .offset-8-right-md { margin-right: 66.66%; }
    .offset-9-right-md { margin-right: 75%; }
    .offset-10-right-md { margin-right: 83.33%; }
    .offset-11-right-md { margin-right: 91.66%; }
    .offset-12-right-md { margin-right: 91.66%; }

    .order-1-md { @include flex-order(1); }
    .order-2-md { @include flex-order(2); }
    .order-3-md { @include flex-order(3); }
    .order-4-md { @include flex-order(4); }
    .order-5-md { @include flex-order(5); }
    .order-6-md { @include flex-order(6); }
    .order-7-md { @include flex-order(7); }
    .order-8-md { @include flex-order(8); }
    .order-9-md { @include flex-order(9); }
    .order-10-md { @include flex-order(10); }
    .order-11-md { @include flex-order(11); }
    .order-12-md { @include flex-order(12); }

    .grow-1-md { @include flex-grow(1); }
    .grow-2-md { @include flex-grow(2); }
    .grow-3-md { @include flex-grow(3); }
    .grow-4-md { @include flex-grow(4); }
    .grow-5-md { @include flex-grow(5); }
    .grow-6-md { @include flex-grow(6); }
    .grow-7-md { @include flex-grow(7); }
    .grow-8-md { @include flex-grow(8); }
    .grow-9-md { @include flex-grow(9); }
    .grow-10-md { @include flex-grow(10); }
    .grow-11-md { @include flex-grow(11); }
    .grow-12-md { @include flex-grow(12); }

    .shrink-1-md { @include flex-shrink(1); }
    .shrink-2-md { @include flex-shrink(2); }
    .shrink-3-md { @include flex-shrink(3); }
    .shrink-4-md { @include flex-shrink(4); }
    .shrink-5-md { @include flex-shrink(5); }
    .shrink-6-md { @include flex-shrink(6); }
    .shrink-7-md { @include flex-shrink(7); }
    .shrink-8-md { @include flex-shrink(8); }
    .shrink-9-md { @include flex-shrink(9); }
    .shrink-10-md { @include flex-shrink(10); }
    .shrink-11-md { @include flex-shrink(11); }
    .shrink-12-md { @include flex-shrink(12); }

    .align-auto-md { align-self: auto; }
    .align-baseline-md { align-self: baseline; }
    .align-center-md { align-self: center; }
    .align-start-md { align-self: flex-start; }
    .align-end-md { align-self: flex-end; }
    .align-stretch-md { align-self: stretch; }

    .justify-space-around-md { justify-content: space-around; }
    .justify-space-between-md { justify-content: space-between; }
    .justify-center-md { justify-content: center; }
    .justify-start-md { justify-content: flex-start; }
    .justify-end-md { justify-content: flex-end; }
  }
}

@media all and (max-width: $break-sm) {
  .flex {
    &.row-sm {
      @include flex-direction(row);
      &.reverse-sm {
        @include flex-direction(row-reverse);
      }
    }

    &.stack-sm {
      @include flex-direction(column);
      &.reverse-sm {
        @include flex-direction(row-reverse);
      }
    }

    &.wrap-sm { @include flex-wrap(wrap); }
    &.wrap-reverse-sm { @include flex-wrap(wrap-reverse); }
    &.no-wrap-sm { @include flex-wrap(nowrap); }

    &.justify-center-sm { @include justify-content(center); }
    &.justify-start-sm { @include justify-content(flex-start); }
    &.justify-end-sm { @include justify-content(flex-end); }
    &.justify-space-around-sm { @include justify-content(space-around); }
    &.justify-space-between-sm { @include justify-content(space-between); }

    &.align-baseline-sm { align-items: baseline; }
    &.align-center-sm { align-items: center; }
    &.align-start-sm { align-items: flex-start; }
    &.align-end-sm { align-items: flex-end; }
    &.align-stretch-sm { align-items: stretch; }

    .align-baseline-sm { align-content: baseline; }
    .align-center-sm { align-content: center; }
    .align-start-sm { align-content: flex-start; }
    .align-end-sm { align-content: flex-end; }
    .align-stretch-sm { align-content: stretch; }

    .col-1-sm { @include flex-basis(8.33%); }
    .col-2-sm { @include flex-basis(16.66%); }
    .col-3-sm { @include flex-basis(25%); }
    .col-4-sm { @include flex-basis(33.33%); }
    .col-5-sm { @include flex-basis(41.66%); }
    .col-6-sm { @include flex-basis(50%); }
    .col-7-sm { @include flex-basis(58.33%); }
    .col-8-sm { @include flex-basis(66.66%); }
    .col-9-sm { @include flex-basis(75%); }
    .col-10-sm { @include flex-basis(83.33%); }
    .col-11-sm { @include flex-basis(91.66%); }
    .col-12-sm { @include flex-basis(100%); }

    .offset-1-sm { margin-left: 8.33%; }
    .offset-2-sm { margin-left: 16.66%; }
    .offset-3-sm { margin-left: 25%; }
    .offset-4-sm { margin-left: 33.33%; }
    .offset-5-sm { margin-left: 41.66%; }
    .offset-6-sm { margin-left: 50%; }
    .offset-7-sm { margin-left: 58.33%; }
    .offset-8-sm { margin-left: 66.66%; }
    .offset-9-sm { margin-left: 75%; }
    .offset-10-sm { margin-left: 83.33%; }
    .offset-11-sm { margin-left: 91.66%; }
    .offset-12-sm { margin-left: 91.66%; }

    .offset-1-right-sm { margin-right: 8.33%; }
    .offset-2-right-sm { margin-right: 16.66%; }
    .offset-3-right-sm { margin-right: 25%; }
    .offset-4-right-sm { margin-right: 33.33%; }
    .offset-5-right-sm { margin-right: 41.66%; }
    .offset-6-right-sm { margin-right: 50%; }
    .offset-7-right-sm { margin-right: 58.33%; }
    .offset-8-right-sm { margin-right: 66.66%; }
    .offset-9-right-sm { margin-right: 75%; }
    .offset-10-right-sm { margin-right: 83.33%; }
    .offset-11-right-sm { margin-right: 91.66%; }
    .offset-12-right-sm { margin-right: 91.66%; }

    .order-1-sm { @include flex-order(1); }
    .order-2-sm { @include flex-order(2); }
    .order-3-sm { @include flex-order(3); }
    .order-4-sm { @include flex-order(4); }
    .order-5-sm { @include flex-order(5); }
    .order-6-sm { @include flex-order(6); }
    .order-7-sm { @include flex-order(7); }
    .order-8-sm { @include flex-order(8); }
    .order-9-sm { @include flex-order(9); }
    .order-10-sm { @include flex-order(10); }
    .order-11-sm { @include flex-order(11); }
    .order-12-sm { @include flex-order(12); }

    .grow-1-sm { @include flex-grow(1); }
    .grow-2-sm { @include flex-grow(2); }
    .grow-3-sm { @include flex-grow(3); }
    .grow-4-sm { @include flex-grow(4); }
    .grow-5-sm { @include flex-grow(5); }
    .grow-6-sm { @include flex-grow(6); }
    .grow-7-sm { @include flex-grow(7); }
    .grow-8-sm { @include flex-grow(8); }
    .grow-9-sm { @include flex-grow(9); }
    .grow-10-sm { @include flex-grow(10); }
    .grow-11-sm { @include flex-grow(11); }
    .grow-12-sm { @include flex-grow(12); }

    .shrink-1-sm { @include flex-shrink(1); }
    .shrink-2-sm { @include flex-shrink(2); }
    .shrink-3-sm { @include flex-shrink(3); }
    .shrink-4-sm { @include flex-shrink(4); }
    .shrink-5-sm { @include flex-shrink(5); }
    .shrink-6-sm { @include flex-shrink(6); }
    .shrink-7-sm { @include flex-shrink(7); }
    .shrink-8-sm { @include flex-shrink(8); }
    .shrink-9-sm { @include flex-shrink(9); }
    .shrink-10-sm { @include flex-shrink(10); }
    .shrink-11-sm { @include flex-shrink(11); }
    .shrink-12-sm { @include flex-shrink(12); }

    .align-auto-sm { align-self: auto; }
    .align-baseline-sm { align-self: baseline; }
    .align-center-sm { align-self: center; }
    .align-start-sm { align-self: flex-start; }
    .align-end-sm { align-self: flex-end; }
    .align-stretch-sm { align-self: stretch; }

    .justify-space-around-sm { justify-content: space-around; }
    .justify-space-between-sm { justify-content: space-between; }
    .justify-center-sm { justify-content: center; }
    .justify-start-sm { justify-content: flex-start; }
    .justify-end-sm { justify-content: flex-end; }
  }
}

@media all and (max-width: $break-xs) {
  .flex {
    &.row-xs {
      @include flex-direction(row);
      &.reverse-xs {
        @include flex-direction(row-reverse);
      }
    }

    &.stack-xs {
      @include flex-direction(column);
      &.reverse-xs {
        @include flex-direction(row-reverse);
      }
    }

    &.wrap-xs { @include flex-wrap(wrap); }
    &.wrap-reverse-xs { @include flex-wrap(wrap-reverse); }
    &.no-wrap-xs { @include flex-wrap(nowrap); }

    &.justify-center-xs { @include justify-content(center); }
    &.justify-start-xs { @include justify-content(flex-start); }
    &.justify-end-xs { @include justify-content(flex-end); }
    &.justify-space-around-xs { @include justify-content(space-around); }
    &.justify-space-between-xs { @include justify-content(space-between); }

    &.align-baseline-xs { align-items: baseline; }
    &.align-center-xs { align-items: center; }
    &.align-start-xs { align-items: flex-start; }
    &.align-end-xs { align-items: flex-end; }
    &.align-stretch-xs { align-items: stretch; }

    .align-baseline-xs { align-content: baseline; }
    .align-center-xs { align-content: center; }
    .align-start-xs { align-content: flex-start; }
    .align-end-xs { align-content: flex-end; }
    .align-stretch-xs { align-content: stretch; }

    .col-1-xs { @include flex-basis(8.33%); }
    .col-2-xs { @include flex-basis(16.66%); }
    .col-3-xs { @include flex-basis(25%); }
    .col-4-xs { @include flex-basis(33.33%); }
    .col-5-xs { @include flex-basis(41.66%); }
    .col-6-xs { @include flex-basis(50%); }
    .col-7-xs { @include flex-basis(58.33%); }
    .col-8-xs { @include flex-basis(66.66%); }
    .col-9-xs { @include flex-basis(75%); }
    .col-10-xs { @include flex-basis(83.33%); }
    .col-11-xs { @include flex-basis(91.66%); }
    .col-12-xs { @include flex-basis(100%); }

    .offset-1-xs { margin-left: 8.33%; }
    .offset-2-xs { margin-left: 16.66%; }
    .offset-3-xs { margin-left: 25%; }
    .offset-4-xs { margin-left: 33.33%; }
    .offset-5-xs { margin-left: 41.66%; }
    .offset-6-xs { margin-left: 50%; }
    .offset-7-xs { margin-left: 58.33%; }
    .offset-8-xs { margin-left: 66.66%; }
    .offset-9-xs { margin-left: 75%; }
    .offset-10-xs { margin-left: 83.33%; }
    .offset-11-xs { margin-left: 91.66%; }
    .offset-12-xs { margin-left: 91.66%; }

    .offset-1-right-xs { margin-right: 8.33%; }
    .offset-2-right-xs { margin-right: 16.66%; }
    .offset-3-right-xs { margin-right: 25%; }
    .offset-4-right-xs { margin-right: 33.33%; }
    .offset-5-right-xs { margin-right: 41.66%; }
    .offset-6-right-xs { margin-right: 50%; }
    .offset-7-right-xs { margin-right: 58.33%; }
    .offset-8-right-xs { margin-right: 66.66%; }
    .offset-9-right-xs { margin-right: 75%; }
    .offset-10-right-xs { margin-right: 83.33%; }
    .offset-11-right-xs { margin-right: 91.66%; }
    .offset-12-right-xs { margin-right: 91.66%; }

    .order-1-xs { @include flex-order(1); }
    .order-2-xs { @include flex-order(2); }
    .order-3-xs { @include flex-order(3); }
    .order-4-xs { @include flex-order(4); }
    .order-5-xs { @include flex-order(5); }
    .order-6-xs { @include flex-order(6); }
    .order-7-xs { @include flex-order(7); }
    .order-8-xs { @include flex-order(8); }
    .order-9-xs { @include flex-order(9); }
    .order-10-xs { @include flex-order(10); }
    .order-11-xs { @include flex-order(11); }
    .order-12-xs { @include flex-order(12); }

    .grow-1-xs { @include flex-grow(1); }
    .grow-2-xs { @include flex-grow(2); }
    .grow-3-xs { @include flex-grow(3); }
    .grow-4-xs { @include flex-grow(4); }
    .grow-5-xs { @include flex-grow(5); }
    .grow-6-xs { @include flex-grow(6); }
    .grow-7-xs { @include flex-grow(7); }
    .grow-8-xs { @include flex-grow(8); }
    .grow-9-xs { @include flex-grow(9); }
    .grow-10-xs { @include flex-grow(10); }
    .grow-11-xs { @include flex-grow(11); }
    .grow-12-xs { @include flex-grow(12); }

    .shrink-1-xs { @include flex-shrink(1); }
    .shrink-2-xs { @include flex-shrink(2); }
    .shrink-3-xs { @include flex-shrink(3); }
    .shrink-4-xs { @include flex-shrink(4); }
    .shrink-5-xs { @include flex-shrink(5); }
    .shrink-6-xs { @include flex-shrink(6); }
    .shrink-7-xs { @include flex-shrink(7); }
    .shrink-8-xs { @include flex-shrink(8); }
    .shrink-9-xs { @include flex-shrink(9); }
    .shrink-10-xs { @include flex-shrink(10); }
    .shrink-11-xs { @include flex-shrink(11); }
    .shrink-12-xs { @include flex-shrink(12); }

    .align-auto-xs { align-self: auto; }
    .align-baseline-xs { align-self: baseline; }
    .align-center-xs { align-self: center; }
    .align-start-xs { align-self: flex-start; }
    .align-end-xs { align-self: flex-end; }
    .align-stretch-xs { align-self: stretch; }

    .justify-space-around-xs { justify-content: space-around; }
    .justify-space-between-xs { justify-content: space-between; }
    .justify-center-xs { justify-content: center; }
    .justify-start-xs { justify-content: flex-start; }
    .justify-end-xs { justify-content: flex-end; }
  }
}
