.block {
  display: block;
  width: 100%;
}

.block-center {
  margin: auto;
  display: block;
  width: 100%;
}

.hide {
  display: none;
}

.show-inline {
  display: inline;
}

.show-block {
  display: block;
}

.show-inline-block {
  display: inline-block;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@media all and (max-width: $break-xl) {
  .block-xl {
    display: block;
    width: 100%;
  }

  .block-center-xl {
    margin: auto;
    display: block;
    width: 100%;
  }

  .hide-xl {
    display: none;
  }

  .show-inline-xl {
    display: inline;
  }

  .show-block-xl {
    display: block;
  }

  .show-inline-block-xl {
    display: inline-block;
  }

  .text-left-xl {
    text-align: left;
  }

  .text-center-xl {
    text-align: center;
  }

  .text-right-xl {
    text-align: right;
  }
}

@media all and (max-width: $break-lg) {
  .block-lg {
    display: block;
    width: 100%;
  }

  .block-center-lg {
    margin: auto;
    display: block;
    width: 100%;
  }

  .hide-lg {
    display: none;
  }

  .show-inline-lg {
    display: inline;
  }

  .show-block-lg {
    display: block;
  }

  .show-inline-block-lg {
    display: inline-block;
  }

  .text-left-lg {
    text-align: left;
  }

  .text-center-lg {
    text-align: center;
  }

  .text-right-lg {
    text-align: right;
  }
}

@media all and (max-width: $break-md) {
  .block-md {
    display: block;
    width: 100%;
  }

  .block-center-md {
    margin: auto;
    display: block;
    width: 100%;
  }

  .hide-md {
    display: none;
  }

  .show-inline-md {
    display: inline;
  }

  .show-block-md {
    display: block;
  }

  .show-inline-block-md {
    display: inline-block;
  }

  .text-left-md {
    text-align: left;
  }

  .text-center-md {
    text-align: center;
  }

  .text-right-md {
    text-align: right;
  }
}

@media all and (max-width: $break-sm) {
  .block-sm {
    display: block;
    width: 100%;
  }

  .block-center-sm {
    margin: auto;
    display: block;
    width: 100%;
  }

  .hide-sm {
    display: none;
  }

  .show-inline-sm {
    display: inline;
  }

  .show-block-sm {
    display: block;
  }

  .show-inline-block-sm {
    display: inline-block;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-sm {
    text-align: center;
  }

  .text-right-sm {
    text-align: right;
  }
}

@media all and (max-width: $break-xs) {
  .block-xs {
    display: block;
    width: 100%;
  }

  .block-center-xs {
    margin: auto;
    display: block;
    width: 100%;
  }

  .hide-xs {
    display: none;
  }

  .show-inline-xs {
    display: inline;
  }

  .show-block-xs {
    display: block;
  }

  .show-inline-block-xs {
    display: inline-block;
  }

  .text-left-xs {
    text-align: left;
  }

  .text-center-xs {
    text-align: center;
  }

  .text-right-xs {
    text-align: right;
  }
}
