@mixin box-sizing ($type) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin flex-direction ($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}

@mixin flex-wrap ($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
}

@mixin justify-content ($justify) {
  justify-content: $justify;
  -webkit-justify-content: $justify;
}

@mixin flex-basis ($val) {
  -webkit-flex-basis: $val;
  flex-basis: $val;
}

@mixin flex-order ($order) {
  -webkit-order: $order;
  order: $order;
}

@mixin flex-grow ($val) {
  -webkit-flex-grow: $val;
  flex-grow: $val;
}

@mixin flex-shrink ($val) {
  -webkit-flex-shrink: $val;
  flex-shrink: $val;
}
